html {
  font-family: sans-serif;
  font-size: 20px;
  line-height: 1.6;
  color: #3d3d3d;
  margin: 0;
}

body {
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
  padding: 20px;
  max-width: 740px;
}

#info {
  margin-bottom: 1.2rem;
  margin-top: -0.9rem;
  font-size: 16px;
}

#info, #info a {
  color: #777777;
}

a, a:visited {
  color: #2d2d2d;
}

p {
  margin-top: 0px;
  margin-bottom: 1rem;
}

h1, h2 {
  color: #2d2d2d;
}

h1 {
  font-size: 1.3rem;
  font-family: Georgia, serif;
  margin-top: 1.4rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.1rem;
}
