body, html {
  font-size: 20px;
}

body {
  font-family: sans-serif;
  line-height: 1.6;
  color: #3d3d3d;
  margin: 0 auto;
  padding: 20px;
  min-height: 100%;
  max-width: 740px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

a, a:visited {
  color: #2d2d2d;
}

p {
  margin-top: 0px;
  margin-bottom: 1.3rem;
}

h1, h2 {
  color: #2d2d2d;
}

h1 {
  font-size: 1.3rem;
  font-family: Georgia, serif;
  margin-top: 1.4rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.1rem;
}

@media and (max-width: 740px) {
  body, html {
    font-size: 16px;
  }
}
